# Pandas DataFrame Columns, Index 이름 지정(변경)

In [16]:
import pandas as pd

data = {
    'Name': ['James', 'David', 'Jessica', 'Lisa'],
    'Math' : [40, 70, 90, 60],
    'English' : [100, 50, 80, 60],
}

df = pd.DataFrame(data)

df

      Name  Math  English
0    James    40      100
1    David    70       50
2  Jessica    90       80
3     Lisa    60       60

## columns 이름 변경

In [11]:
# df.columns = [column_name]

df.columns = ['a', 'b', 'c']

df

         a   b    c
0    James  40  100
1    David  70   50
2  Jessica  90   80
3     Lisa  60   60

In [14]:
df.columns = ['a', 'b']

df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

## index 이름 변경

In [12]:
# df.index = [index_name]

df.index = ['Zero', 'One', 'Two', 'Three']

df

             a   b    c
Zero     James  40  100
One      David  70   50
Two    Jessica  90   80
Three     Lisa  60   60

In [15]:
df.index = ['Zero', 'One', 'Two']

df

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

## columns와 index 한번에 변경

In [17]:
# df.rename(columns = {old_col_name: new_col_name}, index={old_idx_name: new_idx_name})

df.rename(columns = {'a': 'A', 'b': 'B', 'c': 'C'}, index = {0: 'Zero', 1: 'One', 2: 'Two'})

         Name  Math  English
Zero    James    40      100
One     David    70       50
Two   Jessica    90       80
3        Lisa    60       60